# Requirements pour EmotionSensingRoboticEyes
# Type: generic
# Généré automatiquement le 2025-07-17ict_data 08:18

flask >= 2.0.0
jinja2 >= 3.0.0
numpy
pandas
pytz
pyyaml >= 5.4.0
requests
requests >= 2.25.0
scikit-learn
tensorflow

pytest
