__pycache__/
*.pyc
*.pyo
.DS_Store
._*
*.log
*.tar.gz
*.tmp
*.swp
*.bak
blueprints_history/
logs/
.venv/
.env
.vscode/
*.code-workspace
*.sublime-workspace
*.sublime-project
*.idea/
*.iml
*.ipynb_checkpoints/
*.pytest_cache/
*.mypy_cache/
*.benchmarks/
*.coverage
*.egg-info/
*.sqlite3
*.db
*.envrc
secrets.*
