[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501, W291, W293, F401, F541, F841, E712, E731, E402, F601, E302, W292, E722
exclude =
    .git,
    __pycache__,
    .venv,
    .pytest_cache,
    build,
    dist,
    *.egg-info,
    archive,
    tests/bin,
    tests/integration,
    tests/__init__.py,
    tests/test_cleanup.py,
    tests/integration/test_cli_robustesse.py,
    tests/integration/test_end_to_end.py,
    tests/integration/test_yaml_validity.py,
    .venv/lib,
    .venv/include,
    .venv/bin
jobs = 1
per-file-ignores =
    __init__.py:F401
    tests/*:E501,F401,F841,E731
    tests/bin/*:E501,F401,F841,E731,E722,W291,W293,W292 